@import "variables.scss";


body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $grey-color-light;

}
h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-family: $font-family;
}

a,
p,
span,
input,
td,
tr,
th {
    font-family: $font-family;
}
