@import "../../../styles/variables.scss";


.navigation-nav {
    list-style: none;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 3.65rem);
    cursor: pointer;
    padding: 0.5rem;

    .navigation-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .navigation-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color:$base-color;

            transition: all .3s ease;

            .navigation-link-icon {
                font-size: 15px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .navigation-link-text {
                margin-left: 0.5rem;
                white-space: nowrap;

            }
        }
    }

    .active {
        background-color: #fafafa21;
    }

    .navigation-nav-item:hover {
        .navigation-nav-link {
            background-color: $light-purple-color;
            color:$base-color;
        }

    }
}